		@media only screen and (max-width: 1000px){
											.content .container .container_inner.default_template_holder,
			.content .container .container_inner.page_container_inner {
			padding-top:80px !important; /*important because of the inline style on page*/
			}
				}
		@media only screen and (min-width: 480px) and (max-width: 768px){

					section.parallax_section_holder{
			height: auto !important;
			min-height: 600px;
			}
						}
		@media only screen and (max-width: 768px){
					h1, h1 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h1.elementor-heading-title {
			font-size: 64px; 									}
		
					h2, h2 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h2.elementor-heading-title {
			font-size: 49px; 			line-height: 42px; 						}
		
		
		
		
		
		
					.footer_bottom_holder{
			padding-right:10px;
			}
					.footer_bottom_holder{
			padding-left:10px;
			}
		
		
		
					.title.title_size_small h1 {
			font-size: 45px; 						}
		
					.title.title_size_medium h1 {
			font-size: 45px; 						}
		
					.title.title_size_large h1 {
			font-size: 45px!important; 						}
		
		}
		@media only screen and (max-width: 600px) {
					h1, h1 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h1.elementor-heading-title {
			font-size: 50px; 									}
		
					h2, h2 a, body.qode-overridden-elementors-fonts .elementor-widget-heading h2.elementor-heading-title {
			font-size: 41px; 									}
		
		
		
		
		
		
		
		
		
				}
		@media only screen and (max-width: 480px){

					section.parallax_section_holder {
			height: auto !important;
			min-height: 600px;
			}
		
				
					.footer_top.footer_top_full {
			padding-right:10px;
			}
					.footer_top.footer_top_full {
			padding-left:10px;
			}
				}
		
		
	